absl-py
torch==2.8
torchvision
diffusers
accelerate
safetensors
transformers
Pillow
tqdm
pyyaml
numpy
matplotlib
mediapy
easydict
einops
opencv-python-headless
imageio
imageio-ffmpeg
tensorboard
torchmetrics  # only needed for evaluation.py
